<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Eventos Nicolita y Dianita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Eventos Nicolita</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input label="Nombre" placeholder="Ingrese su nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido" placeholder="Ingrese su apellido" [(ngModel)]="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Fecha de Nacimiento" [(ngModel)]="fechanacimiento"></ion-input>
      <ion-button id="btn_popover">
        <ion-icon name="calendario"></ion-icon>
      </ion-button>
      <ion-popover trigger="btn_popover" triggerAction="click">
        <ng-template>
          <ion-datetime [(ngModel)]="fechanacimiento"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Selecciona un evento</ion-label>
        <ion-select (ionChange)="eventoSeleccion($event.detail.value)">
          <ion-select-option *ngFor="let evento of eventos" [value]="evento.tipo">
            {{ evento.tipo }}
          </ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>Tipo de entrada</ion-label>
        <ion-select (ionChange)="entradaSeleccion($event.detail.value)">
          <ion-select-option *ngFor="let entrada of entrada" [value]="entrada.tipo">
            {{ entrada.tipo }}
          </ion-select-option>
        </ion-select>
      </ion-item>


    </ion-list>

      <ion-item>
        <ion-input label="Cantidad" placeholder="Ingrese cantidad de entradas" [(ngModel)]="numentradas"></ion-input>
      </ion-item>


    <ion-button id="btn_resumen">Generar resumen</ion-button>
  <ion-alert
    trigger="btn_resumen"
    header="Resumen"
    [message]="getAlertMessage()"
    [buttons]="alertButtons">
  </ion-alert>

  </div>
</ion-content>
